.schedule-container {
    width: 400px;
    height: calc(100vh - var(--header-height) - var(--large-player-height) - var(--footer-height));
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-x: hidden;
}

.schedule-container::-webkit-scrollbar {
    width: 10px;
}

.schedule-container::-webkit-scrollbar-track-piece {
    background: transparent;
}

.schedule-container::-webkit-scrollbar-thumb {
    background: var(--main-color);
}