#home-container {
    width: 1200px;
    height: 100%;
    display: grid;
    text-align: justify;
    grid-template-rows: 100px calc(100% - 100px);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
            "about register schedule"
            "about pitch schedule";
    gap: 16px;
}

#about-dropit {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: about;
}

#register-btn {
    width: 350px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xxx-large;
    background-color: var(--main-border-color);
    color: var(--button-color);
    border-radius: 50px;
    border: none;
    grid-area: register;
    margin: auto;
}

#register-btn:hover {
    width: 346px;
    height: 96px;
    background-color: var(--button-color);
    color: var(--main-border-color);
    border: 2px solid var(--main-border-color);
}

#pitch {
    grid-area: pitch;
}

.schedule {
    grid-area: schedule;
}