#home-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

#register-btn {
    width: 350px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xxx-large;
    background-color: var(--main-border-color);
    color: var(--button-color);
    border-radius: 50px;
    border: none;
    grid-area: register;
    margin: 50px auto;
}

#register-btn:hover {
    width: 346px;
    height: 96px;
    background-color: var(--button-color);
    color: var(--main-border-color);
    border: 2px solid var(--main-border-color);
}

#about-dropit, #pitch, .schedule {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px 0;
    border: 1px solid black;
    margin: 50px 0;
}

#about-dropit img, #about-dropit p,
#pitch img, #pitch p,
.schedule img, .schedule p {
    width: 600px;
}