
.btn {
    width: 100px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Arial", "serif";
    background-color: white;
}

.btn-active {
    width: 100px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Arial", "serif";
    background-color: var(--main-color);
}

.btn:hover {
    background: var(--button-color);
}