#info-container {
    width: 1200px;
    height: 100%;
    display: grid;
    grid-template-rows: 5% 45% 45% 5%;
    grid-template-columns: 5% 40% 5% 40% 5%;
    grid-template-areas:
            ". . . . settings"
            ". info . photo ."
            ". info . photo ."
            ". . . . ."
    ;
    gap: 8px;
    margin: 16px calc((100vw - 1200px) / 2);
}

#profile-info {
    width: 518px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    grid-area: info;
    border: 1px solid black;
    padding: 0 16px;
}

.info-item {
    width: 550px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 8px;
}

.info-item > p{
    width: 500px;
    height: auto;
    text-align: justify;
}

#info-image {
    width: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: photo;
    border: 1px solid black;
}

#info-image > img {
    width: 50%;
}

#profile-settings {
    grid-area: settings;
}

#edit-info-container {
    width: 1200px;
    height: 100%;
    display: grid;
    grid-template-rows: 5% 30% 40% 5%;
    grid-template-columns: 5% 40% 5% 40% 5%;
    grid-template-areas:
            ". . . . close"
            ". items . profile-img ."
            ". items . body-img ."
            ". . . . ."
;
    gap: 8px;
    margin-top: 16px;
}

#edit-profile-info {
    grid-area: items;

}



.edit-info-item {
    width: 550px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 8px;
}

#edit-info-profile-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: profile-img;
}

#edit-info-profile-image > img {
    object-fit: cover;
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

#edit-info-body-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: body-img;
}

#edit-info-body-image > img {
    object-fit: contain;
    width: 450px;
    height: 230px;
}

#profile-save-btn {
    grid-area: save;
}

#close-btn {
    grid-area: close;
}