#display {
    width: 284px;
    height: Calc(100% - 16px);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--displayColor);
    border-radius: 8px;
    padding: 0 8px;
}

.song-info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}