#display {
    width: 505px;
    height: Calc(100% - 16px);
    display: grid;
    grid-template-rows: 5px calc(80% - 11px) 20% 5px;
    grid-template-columns: 5px calc(80% - 5px) calc(20% - 5px) 5px ;
    grid-template-areas:
            ". . . ."
            ". info info ."
            ". slider timeStamp ."
            ". . . .";
    background-color: var(--displayColor);
    border-radius: 8px;
    color: white;
}

#current-song-info {
    grid-area: info;
}

#current-song-slider {
    grid-area: slider;
}

#current-song-timestamp {
    font-size: x-small;
    grid-area: timeStamp;
}
