.song-container {
    width: 150px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: lawngreen;
    margin: 8px;
}

.song-img-container {
    width: 150px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.song-img-container > img {
    height: 130px;
}

.song-container > span {
    width: calc(100% - 16px);
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    background: rgba(255, 255, 255, .5);
    padding: 8px
}