#page-footer-container {
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    box-shadow: 0 -1px 5px;
    z-index: 1;
}