#popup-bg {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
}

#popup-upload-container {
    width: 700px;
    height: 700px;
    display: grid;
    grid-template-columns: 25px repeat(4, 1fr) 25px;
    grid-template-rows: 25px 50px 250px 250px 25px;
    grid-template-areas:
            ". .  . . . close"
            ". song song song song ."
            ". info info cover cover ."
            ". story story story story ."
            ". . . . submit .";
    gap: 16px;
    margin-top: 0;
    z-index: 10;
}

#close-popup {
    grid-area: close;
    /*margin: 16px 16px 0 16px;*/
}

#upload-song-info {
    width: calc(100% - 16px);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    grid-area: info;
    margin: 0 0 0 0;
}

#upload-song-cover {
    width: calc(100% - 16px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: cover;
    margin: 0 0 0 0;
}

#upload-song-cover  img {
    width: 175px;
    margin: 0 0 0 0;
}

#upload-song-story {
    width: calc(100%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    grid-area: story;
    margin: 0 0 0 0;
}

#upload-song-file {
    width: calc(100% - 16px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    grid-area: song;
    margin: 0 0 0 0;
}

#preview-player {
    width: 250px;
    height: 30px;
}



#upload-song-submit {
    grid-area: submit;
}

.update-img-btn {
    z-index: 20;
}

#upload-header {
    font-size: xxx-large;
}

#upload-field {
    background-color: white;
}

.item {
    width: calc(100% - 16px);
    display: flex;
    flex-direction: column;
}