:root {
  --header-height: 70px;
  --footer-height: 50px;
  --main-color: midnightblue;
  --button-color: cornflowerblue;
  --up-vote-color : lawngreen;
  --down-vote-color: red;
  --displayColor: #222;
  --player-visualizer: #222222;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: Arial, serif;
  margin: 0;
}
